.scratch-container {
  display: flex;
}

.flexcentercolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick-buraliste {
  padding: 30px 40px;
  color: white;
  border: 1px solid black;
  margin: 10px 5px;
  font-family: system-ui;
  font-size: x-large;
  cursor: pointer;
  user-select: none;
}

.phraseBuraliste {
  font-size: large;
  color: #333;
  font-style: italic;
  font-weight: 600;
}

.maxWidth {
  margin: 0 auto;
  height: 96%;
  overflow-x: hidden;
  justify-content: start;
}

.maincontainer {
  flex: 4;
}

.overlay {
  flex: 1;
  background-color: #f2f2f2;
  height: 85vh;
  box-shadow: -19px 20px 20px -13px #00000021;
}

.displayMoney {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #a8a8a8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.buttonNav {
  background: #fafafa;
  padding: 3px 15px;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 0px 5px 6px -7px #0000007a;
}

/** ticket **/

.ticket {
  width: 800px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 30px;
}

.ticket-vertical {
  position: relative;
  height: fit-content;
  bottom: -40px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.ticket-marque {
  font-size: 50px;
  line-height: 1;
  color: white;
  background: purple;
  height: 137%;
}

.ticket-name {
  font-size: 75px;
  color: white;
  font-weight: 700;
  justify-self: center;
}

.ticket-price {
  font-size: 38px;
  font-family: "Franklin Gothic Medium";
  border-radius: 50px;
  background-color: #fff;
  color: purple;
  position: absolute;
  bottom: -60px;
  left: 13px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.ticket-desc {
  font-size: 13px;
  background-color: yellow;
  color: black;
  font-weight: 500;
  margin: 10px 5px;
  padding: 6px;
}

.ticket-slide {
  background: linear-gradient(45deg, #b9bc07, #ffca00);
  position: absolute;
  right: -114px;
  bottom: 12px;
  width: 406px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  transform: rotate(315deg);
}

.ticket-display {
  background: rgba(255, 255, 255, 0.074);
  width: 400px;
  height: 350px;
}

.ticket-petittexte {
  position: absolute;
  top: 0;
  font-size: 6.5px;
  margin-top: 8px;
  color: #ebebeb;
}

.size120 {
  font-size: 120px;
}
.size50 {
  font-size: 50px;
}
.allscreen {
  width: 60vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
