.visible {
  position: absolute;
  bottom: 66px;
  right: 0;
}

code {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
  padding: 3px 5px;
  border-radius: 5px;
}

.hljs {
  display: block;
  padding: 10px;
}

.hljs-keyword {
  color: purple;
  font-weight: 700;
}
