@import "tailwindcss/preflight";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Animation d'ouverture de la caisse */
@keyframes open {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

.animate-open {
  animation: open 0.5s ease-in-out forwards;
}

/* Styles pour la caisse */
.crate-lid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: #b45309; /* Equivalent to bg-yellow-800 */
  transform-origin: top;
  transition: transform 500ms;
}

.crate-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: #3b2f00; /* Equivalent to bg-yellow-900 */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
